annotated-types==0.7.0
attrs==25.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
memory-profiler==0.61.0
orjson==3.10.18
phonenumbers==9.0.4
psutil==7.0.0
pydantic==2.11.5
pydantic-core==2.33.2
pygments==2.19.1
python-dateutil==2.9.0.post0
rich==14.0.0
six==1.17.0
typing-extensions==4.13.2
typing-inspection==0.4.1
urllib3==2.4.0
